
.group2 {
  top: 20%;
	line-height: 5em;
}

.group3 {
  top: 50%;
	left: 12%;
	line-height: 5em;
}

.group4 {
  top: 90%;
}


.planet {
	position: absolute;
	height: 5em;
	width: 5em;
	border-radius: 50%;
	background-color: black;
}

#planet1 {
  top: -5%;
	right: 5%;
}

#planet2 {
  top: -9%;
	left: 35%;
	transform: scale(0.5);
}

#planet3 {
  top: -3%;
	left: 50%;
	transform: scale(0.4);
}

#planet4 {
  top: 15%;
	left: 3%;
}

#planet8 {
  /* top: -8%; */
	left: 40%;
	transform: scale(0.8);
}

#planet9 {
  top: 12%;;
	right: 1%;
	transform: scale(0.4);
}

#world {
	position: absolute;
	right: 5%;
	top: 15%;
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	background-color: black;
	overflow: hidden;
}
